---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */

body,html {
  min-height: 100%;
  font-family: circular, 'segoe ui', sans-serif;
  color: #222528 * 2;
}

.post-excerpt p {
	display:inline;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
